.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}

.crypto-card {
  min-width: 400px;
  background-color:  cyan;
  box-shadow: 4px 4px 4px 4px black;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}